@import "properties.scss";

.editor {
  background-color: $primary-color;
  border-radius: $radius;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__bg {
    width: 100%;
    height: auto;
  }

  &__options {
    display: flex;
    column-gap: 2rem;
  }

  &__input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    input {
      border-radius: $radius;
      width: 5rem;
      height: 5rem;
      text-align: center;
      background-color: $color-1;
      font-size: 1.3rem;
      color: $color-2;
      transition: 0.3s;

      &:hover {
        box-shadow: 0rem 0rem 1rem $second-color;
      }
    }
    span {
      color: $color-2;
      font-size: 1.4rem;
    }
  }
}
